.HOME {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1366px;
    height: 3503px;
    z-index: 572;
  }
  .HEADER {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4310px;
    height: 7176px;
    z-index: 571;
  }
  .LOGIN {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4310px;
    height: 7176px;
    z-index: 569;
  }
  .login {
    font-size: 30.21px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    -moz-transform: matrix( 0.62396267726695,0,0,0.62214532871972,0,0);
    -webkit-transform: matrix( 0.62396267726695,0,0,0.62214532871972,0,0);
    -ms-transform: matrix( 0.62396267726695,0,0,0.62214532871972,0,0);
    position: absolute;
    left: 1210.212px;
    top: 29.874px;
    z-index: 568;
  }
  .bt_user {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4310px;
    height: 7176px;
    z-index: 567;
  }
  .bg {
    border-radius: 50%;
    background-color: rgb(236, 239, 241);
    position: absolute;
    left: 1292px;
    top: 29px;
    width: 44px;
    height: 44px;
    z-index: 565;
  }
  .SESSION___01 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4310px;
    height: 7176px;
    z-index: 561;
  }
  .SAIBA_MAIS {
    position: absolute;
    left: -84px;
    top: -40px;
    width: 4480px;
    height: 7346px;
    z-index: 560;
  }
  .saiba_mais {
    font-size: 27.21px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    -moz-transform: matrix( 0,-0.99992892405894,0.98241661383938,0,0,0);
    -webkit-transform: matrix( 0,-0.99992892405894,0.98241661383938,0,0,0);
    -ms-transform: matrix( 0,-0.99992892405894,0.98241661383938,0,0,0);
    position: absolute;
    left: 44.358px;
    top: 663.674px;
    z-index: 559;
  }
  .arrow {
    background-color: rgb(252, 231, 108);
    position: absolute;
    left: 63px;
    top: 734px;
    width: 104px;
    height: 109px;
    z-index: 558;
  }
  .Retângulo_3 {
    background-color: rgb(38, 38, 40);
    position: absolute;
    left: 39px;
    top: 526px;
    width: 151px;
    height: 349px;
    z-index: 557;
  }
  .TEXTO {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4310px;
    height: 7176px;
    z-index: 555;
  }
  .H1 {
    font-size: 103.209px;
    font-family: "Roboto";
    color: rgb(38, 38, 40);
    font-weight: bold;
    font-style: italic;
    line-height: 0.872;
    text-align: left;
    position: absolute;
    left: 621.547px;
    top: 390.161px;
    z-index: 554;
  }
  .Aqui_você_tem_todas_as_ferramentas_para_escolhe {
    font-size: 33.21px;
    font-family: "Roboto";
    color: rgb(38, 38, 40);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 625.328px;
    top: 502.589px;
    width: 479px;
    height: 72px;
    z-index: 553;
  }
  .AÇÃO {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4310px;
    height: 7176px;
    z-index: 552;
  }
  .Faça_sua_busca {
    font-size: 27.21px;
    font-family: "Roboto";
    color: rgb(38, 38, 40);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    -moz-transform: matrix( 0.86146235609788,0,0,0.85294117647059,0,0);
    -webkit-transform: matrix( 0.86146235609788,0,0,0.85294117647059,0,0);
    -ms-transform: matrix( 0.86146235609788,0,0,0.85294117647059,0,0);
    position: absolute;
    left: 615.066px;
    top: 610.343px;
    z-index: 551;
  }
  .bt_arrow {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4310px;
    height: 7176px;
    z-index: 550;
  }
  .arrow {
    background-color: rgb(38, 38, 40);
    position: absolute;
    left: 789px;
    top: 620px;
    width: 24px;
    height: 20px;
    z-index: 549;
  }
  .Ellipse_1289 {
    border-radius: 50%;
    background-color: rgb(252, 231, 108);
    box-shadow: 0px 22px 43px 0px rgba(0, 0, 0, 0.31),0px 15px 13px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 771px;
    top: 600px;
    width: 60px;
    height: 60px;
    z-index: 548;
  }
  .BG {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4310px;
    height: 7176px;
    z-index: 544;
  }
  .A {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4310px;
    height: 7176px;
    z-index: 543;
  }
  .bg {
    border-width: 20px;
    border-color: rgb(87, 159, 251);
    border-style: solid;
    background-color: rgb(87, 159, 251);
    position: absolute;
    left: 507px;
    top: -35px;
    width: 851px;
    height: 784px;
    z-index: 542;
  }
  .IMG {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4310px;
    height: 7176px;
    z-index: 540;
  }
  .Preto_e_Branco_1 {
    background-image: url("Preto-e-Branco 1.png");
    position: absolute;
    left: -416px;
    top: -7px;
    width: 1413px;
    height: 1006px;
    z-index: 539;
  }
  .bg {
    background-color: rgb(236, 239, 241);
    position: absolute;
    left: -4px;
    top: -2px;
    width: 875px;
    height: 881px;
    z-index: 538;
  }
  .Forma_1 {
    background-color: rgb(38, 38, 40);
    position: absolute;
    left: 1057px;
    top: -9px;
    width: 317px;
    height: 753px;
    z-index: 536;
  }
  .SESSION___02 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4310px;
    height: 7176px;
    z-index: 533;
  }
  .TEXTO {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4310px;
    height: 7176px;
    z-index: 532;
  }
  .H1 {
    font-size: 103.209px;
    font-family: "Roboto";
    color: rgb(38, 38, 40);
    font-weight: bold;
    font-style: italic;
    line-height: 0.872;
    text-align: left;
    -moz-transform: matrix( 0.83177105034687,0,0,0.8328611898017,0,0);
    -webkit-transform: matrix( 0.83177105034687,0,0,0.8328611898017,0,0);
    -ms-transform: matrix( 0.83177105034687,0,0,0.8328611898017,0,0);
    position: absolute;
    left: 94.563px;
    top: 1105.927px;
    z-index: 531;
  }
  .Criamos_as_melhores_soluções_tanto_para_o_Locat {
    font-size: 33.21px;
    font-family: "Roboto";
    color: rgb(38, 38, 40);
    line-height: 1.2;
    text-align: left;
    -moz-transform: matrix( 0.83177105034687,0,0,0.8328611898017,0,0);
    -webkit-transform: matrix( 0.83177105034687,0,0,0.8328611898017,0,0);
    -ms-transform: matrix( 0.83177105034687,0,0,0.8328611898017,0,0);
    position: absolute;
    left: 97.967px;
    top: 1189.332px;
    width: 484.284px;
    height: 104.891px;
    z-index: 530;
  }
  .AÇÃO {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4310px;
    height: 7176px;
    z-index: 528;
  }
  .locatário {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4310px;
    height: 7176px;
    z-index: 527;
  }
  .locatário {
    font-size: 27.21px;
    font-family: "Roboto";
    color: rgb(38, 38, 40);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    -moz-transform: matrix( 0.89513287961609,0,0,0.87977607209496,0,0);
    -webkit-transform: matrix( 0.89513287961609,0,0,0.87977607209496,0,0);
    -ms-transform: matrix( 0.89513287961609,0,0,0.87977607209496,0,0);
    position: absolute;
    left: 154.838px;
    top: 1338.674px;
    z-index: 526;
  }
  .arrow {
    background-color: rgb(84, 110, 122);
    position: absolute;
    left: 299px;
    top: 1349px;
    width: 22px;
    height: 18px;
    z-index: 525;
  }
  .Retângulo_3 {
    background-color: rgb(122, 222, 129);
    box-shadow: 0px 22px 43px 0px rgba(0, 0, 0, 0.31),0px 10px 13px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 140px;
    top: 1328px;
    width: 203px;
    height: 60px;
    z-index: 524;
  }
  .locador {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4310px;
    height: 7176px;
    z-index: 522;
  }
  .locador {
    font-size: 27.21px;
    font-family: "Roboto";
    color: rgb(38, 38, 40);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    -moz-transform: matrix( 0.89513287961609,0,0,0.87977607209496,0,0);
    -webkit-transform: matrix( 0.89513287961609,0,0,0.87977607209496,0,0);
    -ms-transform: matrix( 0.89513287961609,0,0,0.87977607209496,0,0);
    position: absolute;
    left: 378.992px;
    top: 1342.174px;
    z-index: 521;
  }
  .arrow {
    background-color: rgb(84, 110, 122);
    position: absolute;
    left: 507px;
    top: 1350px;
    width: 22px;
    height: 18px;
    z-index: 520;
  }
  .Retângulo_3 {
    background-color: rgb(122, 222, 129);
    box-shadow: 0px 22px 43px 0px rgba(0, 0, 0, 0.31),0px 10px 13px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 362px;
    top: 1328px;
    width: 188px;
    height: 60px;
    z-index: 519;
  }
  .BG {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4310px;
    height: 7176px;
    z-index: 516;
  }
  .vei {
    background-image: url("vei.png");
    position: absolute;
    left: 514px;
    top: 995px;
    width: 525px;
    height: 541px;
    z-index: 515;
  }
  .renato {
    background-image: url("renato.png");
    position: absolute;
    left: 844px;
    top: 973px;
    width: 521px;
    height: 563px;
    z-index: 514;
  }
  .Camada_1 {
    background-image: url("Camada 1.png");
    opacity: 0.729;
    position: absolute;
    left: 0px;
    top: 893px;
    width: 1295px;
    height: 910px;
    z-index: 513;
  }
  .Retângulo_6_copiar {
    background-color: rgb(252, 231, 108);
    position: absolute;
    left: 0px;
    top: 1054px;
    width: 1366px;
    height: 483px;
    z-index: 512;
  }
  .SESSION___03 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4310px;
    height: 7176px;
    z-index: 509;
  }
  .row_02 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4310px;
    height: 7176px;
    z-index: 508;
  }
  .vantagem {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4310px;
    height: 7176px;
    z-index: 507;
  }
  .Faça_já_sua_Busca {
    font-size: 103.209px;
    font-family: "Roboto";
    color: rgb(38, 38, 40);
    font-weight: bold;
    font-style: italic;
    line-height: 0.872;
    text-align: left;
    -moz-transform: matrix( 0.5681755000203,0,0,0.56892016470847,0,0);
    -webkit-transform: matrix( 0.5681755000203,0,0,0.56892016470847,0,0);
    -ms-transform: matrix( 0.5681755000203,0,0,0.56892016470847,0,0);
    position: absolute;
    left: 821.146px;
    top: 2409.443px;
    z-index: 506;
  }
  .bt_arrow {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4310px;
    height: 7176px;
    z-index: 505;
  }
  .arrow {
    background-color: rgb(38, 38, 40);
    position: absolute;
    left: 1082px;
    top: 2603px;
    width: 30px;
    height: 24px;
    z-index: 504;
  }
  .Ellipse_1289 {
    border-radius: 50%;
    background-color: rgb(252, 231, 108);
    box-shadow: 0px 22px 43px 0px rgba(0, 0, 0, 0.31),0px 15px 13px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 1061px;
    top: 2579px;
    width: 72px;
    height: 72px;
    z-index: 503;
  }
  .TEXTO {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4310px;
    height: 7176px;
    z-index: 501;
  }
  .H1 {
    font-size: 103.209px;
    font-family: "Roboto";
    color: rgb(252, 231, 108);
    font-weight: bold;
    font-style: italic;
    line-height: 0.872;
    text-align: left;
    -moz-transform: matrix( 0.76025750992037,0,0,0.76125392198239,0,0);
    -webkit-transform: matrix( 0.76025750992037,0,0,0.76125392198239,0,0);
    -ms-transform: matrix( 0.76025750992037,0,0,0.76125392198239,0,0);
    position: absolute;
    left: 178.427px;
    top: 1712.662px;
    z-index: 500;
  }
  .Aqui_você_faz_a_escolha_perfeita__com_todas_as_ {
    font-size: 33.21px;
    font-family: "Roboto";
    color: rgb(253, 252, 250);
    line-height: 1.2;
    text-align: left;
    -moz-transform: matrix( 0.83177105034687,0,0,0.8328611898017,0,0);
    -webkit-transform: matrix( 0.83177105034687,0,0,0.8328611898017,0,0);
    -ms-transform: matrix( 0.83177105034687,0,0,0.8328611898017,0,0);
    position: absolute;
    left: 663.962px;
    top: 1707.163px;
    width: 488.92px;
    height: 71.852px;
    z-index: 499;
  }
  .BG {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4310px;
    height: 7176px;
    z-index: 497;
  }
  .Rectangle_1353 {
    background-color: rgb(122, 222, 129);
    box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 862px;
    top: 2306px;
    width: 298px;
    height: 377px;
    z-index: 496;
  }
  .Rectangle_1353_copy {
    background-color: rgb(236, 239, 241);
    box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 871px;
    top: 2327px;
    width: 281px;
    height: 370px;
    z-index: 495;
  }
  .vantagem {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4310px;
    height: 7176px;
    z-index: 492;
  }
  .Informações_Além_do_Imóvel {
    font-size: 103.209px;
    font-family: "Roboto";
    color: rgb(38, 38, 40);
    font-weight: bold;
    font-style: italic;
    line-height: 0.872;
    text-align: left;
    -moz-transform: matrix( 0.42796538056308,0,0,0.42852628244402,0,0);
    -webkit-transform: matrix( 0.42796538056308,0,0,0.42852628244402,0,0);
    -ms-transform: matrix( 0.42796538056308,0,0,0.42852628244402,0,0);
    position: absolute;
    left: 388.525px;
    top: 2449.951px;
    z-index: 490;
  }
  .Algoritimo_que_entende_suas_necessidades_e_esco {
    font-size: 35.21px;
    font-family: "Roboto";
    color: rgb(38, 38, 40);
    line-height: 1.2;
    text-align: left;
    -moz-transform: matrix( 0.75024124509347,0,0,0.75122452959415,0,0);
    -webkit-transform: matrix( 0.75024124509347,0,0,0.75122452959415,0,0);
    -ms-transform: matrix( 0.75024124509347,0,0,0.75122452959415,0,0);
    position: absolute;
    left: 510.021px;
    top: 2510.001px;
    width: 325.771px;
    height: 153.755px;
    z-index: 489;
  }
  .BG {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4310px;
    height: 7176px;
    z-index: 488;
  }
  .Rectangle_1353 {
    background-color: rgb(242, 242, 242);
    box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 527px;
    top: 2306px;
    width: 298px;
    height: 377px;
    z-index: 487;
  }
  .Rectangle_1353_copy {
    background-color: rgb(236, 239, 241);
    box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 536px;
    top: 2327px;
    width: 281px;
    height: 370px;
    z-index: 486;
  }
  .vantagem {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4310px;
    height: 7176px;
    z-index: 483;
  }
  .Índice_de__Criminalidade {
    font-size: 103.209px;
    font-family: "Roboto";
    color: rgb(38, 38, 40);
    font-weight: bold;
    font-style: italic;
    line-height: 0.872;
    text-align: left;
    -moz-transform: matrix( 0.42796538056308,0,0,0.42852628244402,0,0);
    -webkit-transform: matrix( 0.42796538056308,0,0,0.42852628244402,0,0);
    -ms-transform: matrix( 0.42796538056308,0,0,0.42852628244402,0,0);
    position: absolute;
    left: 82.83px;
    top: 2450.315px;
    z-index: 481;
  }
  .Algoritimo_que_entende_suas_necessidades_e_esco {
    font-size: 35.21px;
    font-family: "Roboto";
    color: rgb(38, 38, 40);
    line-height: 1.2;
    text-align: left;
    -moz-transform: matrix( 0.75024124509347,0,0,0.75122452959415,0,0);
    -webkit-transform: matrix( 0.75024124509347,0,0,0.75122452959415,0,0);
    -ms-transform: matrix( 0.75024124509347,0,0,0.75122452959415,0,0);
    position: absolute;
    left: 184.021px;
    top: 2510.001px;
    width: 325.771px;
    height: 153.755px;
    z-index: 480;
  }
  .BG {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4310px;
    height: 7176px;
    z-index: 479;
  }
  .Rectangle_1353 {
    background-color: rgb(242, 242, 242);
    box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 201px;
    top: 2306px;
    width: 298px;
    height: 377px;
    z-index: 478;
  }
  .Rectangle_1353_copy {
    background-color: rgb(236, 239, 241);
    box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 210px;
    top: 2327px;
    width: 281px;
    height: 370px;
    z-index: 477;
  }
  .row_01 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4310px;
    height: 7176px;
    z-index: 473;
  }
  .vantagem {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4310px;
    height: 7176px;
    z-index: 472;
  }
  .Estabelecimentos_Próximos {
    font-size: 91.209px;
    font-family: "Roboto";
    color: rgb(38, 38, 40);
    font-weight: bold;
    font-style: italic;
    line-height: 0.987;
    text-align: left;
    -moz-transform: matrix( 0.42796538056308,0,0,0.42852628244402,0,0);
    -webkit-transform: matrix( 0.42796538056308,0,0,0.42852628244402,0,0);
    -ms-transform: matrix( 0.42796538056308,0,0,0.42852628244402,0,0);
    position: absolute;
    left: 723.478px;
    top: 2011.142px;
    z-index: 470;
  }
  .Algoritimo_que_entende_suas_necessidades_e_esco {
    font-size: 35.21px;
    font-family: "Roboto";
    color: rgb(38, 38, 40);
    line-height: 1.2;
    text-align: left;
    -moz-transform: matrix( 0.75024124509347,0,0,0.75122452959415,0,0);
    -webkit-transform: matrix( 0.75024124509347,0,0,0.75122452959415,0,0);
    -ms-transform: matrix( 0.75024124509347,0,0,0.75122452959415,0,0);
    position: absolute;
    left: 845.021px;
    top: 2070.001px;
    width: 325.771px;
    height: 153.755px;
    z-index: 469;
  }
  .BG {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4310px;
    height: 7176px;
    z-index: 468;
  }
  .Rectangle_1353 {
    background-color: rgb(242, 242, 242);
    box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 862px;
    top: 1866px;
    width: 298px;
    height: 377px;
    z-index: 467;
  }
  .Rectangle_1353_copy {
    background-color: rgb(236, 239, 241);
    box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 871px;
    top: 1887px;
    width: 281px;
    height: 370px;
    z-index: 466;
  }
  .vantagem {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4310px;
    height: 7176px;
    z-index: 463;
  }
  .Comentários_da_Comunidade {
    font-size: 103.209px;
    font-family: "Roboto";
    color: rgb(38, 38, 40);
    font-weight: bold;
    font-style: italic;
    line-height: 0.872;
    text-align: left;
    -moz-transform: matrix( 0.42796538056308,0,0,0.42852628244402,0,0);
    -webkit-transform: matrix( 0.42796538056308,0,0,0.42852628244402,0,0);
    -ms-transform: matrix( 0.42796538056308,0,0,0.42852628244402,0,0);
    position: absolute;
    left: 388.993px;
    top: 2009.443px;
    z-index: 461;
  }
  .Algoritimo_que_entende_suas_necessidades_e_esco {
    font-size: 35.21px;
    font-family: "Roboto";
    color: rgb(38, 38, 40);
    line-height: 1.2;
    text-align: left;
    -moz-transform: matrix( 0.75024124509347,0,0,0.75122452959415,0,0);
    -webkit-transform: matrix( 0.75024124509347,0,0,0.75122452959415,0,0);
    -ms-transform: matrix( 0.75024124509347,0,0,0.75122452959415,0,0);
    position: absolute;
    left: 510.021px;
    top: 2070.001px;
    width: 325.771px;
    height: 153.755px;
    z-index: 460;
  }
  .BG {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4310px;
    height: 7176px;
    z-index: 459;
  }
  .Rectangle_1353 {
    background-color: rgb(242, 242, 242);
    box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 527px;
    top: 1866px;
    width: 298px;
    height: 377px;
    z-index: 458;
  }
  .Rectangle_1353_copy {
    background-color: rgb(236, 239, 241);
    box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 536px;
    top: 1887px;
    width: 281px;
    height: 370px;
    z-index: 457;
  }
  .vantagem {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4310px;
    height: 7176px;
    z-index: 454;
  }
  .Inteligêngia_Artificial {
    font-size: 103.209px;
    font-family: "Roboto";
    color: rgb(38, 38, 40);
    font-weight: bold;
    font-style: italic;
    line-height: 0.872;
    text-align: left;
    -moz-transform: matrix( 0.42796538056308,0,0,0.42852628244402,0,0);
    -webkit-transform: matrix( 0.42796538056308,0,0,0.42852628244402,0,0);
    -ms-transform: matrix( 0.42796538056308,0,0,0.42852628244402,0,0);
    position: absolute;
    left: 102.93px;
    top: 2009.443px;
    z-index: 452;
  }
  .Algoritimo_que_entende_suas_necessidades_e_esco {
    font-size: 35.21px;
    font-family: "Roboto";
    color: rgb(38, 38, 40);
    line-height: 1.2;
    text-align: left;
    -moz-transform: matrix( 0.75024124509347,0,0,0.75122452959415,0,0);
    -webkit-transform: matrix( 0.75024124509347,0,0,0.75122452959415,0,0);
    -ms-transform: matrix( 0.75024124509347,0,0,0.75122452959415,0,0);
    position: absolute;
    left: 184.021px;
    top: 2070.001px;
    width: 325.771px;
    height: 153.755px;
    z-index: 451;
  }
  .BG {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4310px;
    height: 7176px;
    z-index: 450;
  }
  .Rectangle_1353 {
    background-color: rgb(242, 242, 242);
    box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 201px;
    top: 1866px;
    width: 298px;
    height: 377px;
    z-index: 449;
  }
  .Rectangle_1353_copy {
    background-color: rgb(236, 239, 241);
    box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 210px;
    top: 1887px;
    width: 281px;
    height: 370px;
    z-index: 448;
  }
  .BG {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4310px;
    height: 7176px;
    z-index: 444;
  }
  .Forma_573 {
    background-color: rgb(255, 255, 255);
    opacity: 0.102;
    position: absolute;
    left: -36px;
    top: 1691px;
    width: 1458px;
    height: 1204px;
    z-index: 443;
  }
  .BG {
    background-color: rgb(38, 38, 40);
    position: absolute;
    left: -4px;
    top: 1537px;
    width: 1369px;
    height: 1298px;
    z-index: 442;
  }
  .iPhone {
    background-image: url("iPhone.png");
    position: absolute;
    left: 389px;
    top: 3103px;
    width: 466px;
    height: 400px;
    z-index: 439;
  }
  .SESSION___04 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4310px;
    height: 7176px;
    z-index: 438;
  }
  .Aqui_é_parte_pro_Locador {
    font-size: 103.209px;
    font-family: "Intro Script R";
    color: rgb(38, 38, 40);
    line-height: 0.872;
    text-align: left;
    position: absolute;
    left: 194.491px;
    top: 3020.055px;
    z-index: 437;
  }
  .Retângulo_553 {
    background-color: rgb(229, 115, 115);
    position: absolute;
    left: -11px;
    top: 2834px;
    width: 1377px;
    height: 285px;
    z-index: 436;
  }
  .FOOTER {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4310px;
    height: 7176px;
    z-index: 434;
  }
  .DOWNLOAD {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4310px;
    height: 7176px;
    z-index: 433;
  }
  .Camada_565 {
    background-image: url("Camada 565.png");
    position: absolute;
    left: 896px;
    top: 3273px;
    width: 331px;
    height: 64px;
    z-index: 432;
  }
  .Baixe_nosso_app {
    font-size: 113.209px;
    font-family: "Roboto";
    color: rgb(38, 38, 40);
    font-weight: bold;
    font-style: italic;
    line-height: 0.795;
    text-align: left;
    -moz-transform: matrix( 0.44990611688861,0,0,0.45193225649314,0,0);
    -webkit-transform: matrix( 0.44990611688861,0,0,0.45193225649314,0,0);
    -ms-transform: matrix( 0.44990611688861,0,0,0.45193225649314,0,0);
    position: absolute;
    left: 722.113px;
    top: 3280.656px;
    z-index: 431;
  }
  .SOCIAL {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4310px;
    height: 7176px;
    z-index: 429;
  }
  .©AluGO__2018 {
    font-size: 103.209px;
    font-family: "Roboto";
    color: rgb(38, 38, 40);
    font-weight: bold;
    line-height: 0.872;
    text-align: left;
    -moz-transform: matrix( 0.20430381637777,0,0,0.20430381637777,0,0);
    -webkit-transform: matrix( 0.20430381637777,0,0,0.20430381637777,0,0);
    -ms-transform: matrix( 0.20430381637777,0,0,0.20430381637777,0,0);
    position: absolute;
    left: -236.062px;
    top: 3416.001px;
    z-index: 425;
  }
  .Retângulo_561 {
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: -3px;
    top: 3412px;
    width: 1371px;
    height: 87px;
    z-index: 424;
  }
  .AluGO_ {
    background-color: rgb(33, 33, 33);
    opacity: 0.102;
    position: absolute;
    left: 35px;
    top: 3115px;
    width: 1282px;
    height: 304px;
    z-index: 423;
  }
  